<!DOCTYPE html>
<html>
    <head>
        <title>Fastener Management System</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
              crossorigin="anonymous" >
    </head>
    <body>
        <div class="container">
            <h1>Fastener Management System</h1>
            <hr>
            <h2>Update Fastener</h2>
            <br>
            <form action="#" th:action="@{/saveFastener}" th:object="${fastener}" method="POST">
                <!--Add a hidden field -->
                <input type="hidden" th:field="*{id}"/>
                <input type="text" th:field="*{fastenerType}"
                       class="form-control mb-4 col-4">
                <input type="text" th:field="*{threadType}"  
                       class="form-control mb-4 col-4">       
                <input type="text" th:field="*{threadDesc}" 
                       class="form-control mb-4 col-4">     
                <input type="text" th:field="*{threadLength}" 
                       class="form-control mb-4 col-4">    
                <button type="submit" class="btn btn-info col-2">Update Fastener</button>
            </form>
            <hr>
            <a th:href="@{/}"> Back to Fastener List</a>
        </div>
    </body>
</html>

